h1 {
    color: #fff;
    text-align: center;
    font-family: "Brush Script MT ", cursive;
}

h2{
    text-align: center;
    font-family: "Brush Script MT ", cursive;
    color: lightgreen;
}
h4{
    text-align: center;
    color: orchid;
}
p{
    text-align: center;
    color: white;
}
h5{
    text-align: center;
    color:peachpuff;
    font-family: "Brush Script MT ", cursive;
}
h6{
    text-align:center;
    color:chocolate;
}
body {
  background-image: url('https://as2.ftcdn.net/v2/jpg/03/45/88/07/1000_F_345880772_zIT2mkdCzTthplO7xqaGGrMspN0jw0ll.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  resize: both;
  margin:0;
    height: auto;
    width:auto;

}
li{
    text-align: center;
    color: white;
    list-style-position: inside;
    color: #f08080;
    font-family: "Brush Script MT ", cursive;
}